body {
  background: url("https://images5.alphacoders.com/887/thumb-1920-887355.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#avengerBody {
  display: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  padding: 1em;
  margin: auto;
  text-align: center;
  min-height: 34em;
}
