body {
  background: url("https://images5.alphacoders.com/887/thumb-1920-887355.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.avengerCard {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid black;
  padding: 1em;
  margin: 1em auto 1em auto;
}

#avengerBody {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  padding: 1em;
  margin: auto;
  text-align: center;
}
